{{! Fill package info from manifestData. "version" is nice to have for the Cargo.toml but is irrelevant in anagolay scope }}
[package] 
name = "{{manifestData.name}}"
version = "{{version}}" 
authors = [{{#each manifestData.creators}}"{{this}}"{{#unless @last}}, {{/unless}}{{/each}}] 
description = "{{manifestData.description}}" 
edition = "2018" 
license = "Apache 2.0"

{{! Produce features. "std" feature is active if at least one of the Operations that compose the Workflow doesn't provide nostd support }}
[features] 
default = ["js", "async", "std", "debug_assertions"] 
js = ["serde", "wasm-bindgen", "instant/wasm-bindgen", "instant/inaccurate", "wasm-bindgen-futures", "an_operation_support/js"] 
async = ["async-trait", "an_operation_support/async"]
std = [
  "instant",  
  "an_operation_support/std"
{{~#each operations as |operation|~}}
  {{~#each @root.manifestData.segments as |segment segmentIndex| ~}}
    {{~#each (lookup @root.operationsLookup segmentIndex) as |opLookup| ~}}
      {{~#if (eq opLookup.id operation.id)}} 
       {{#each opLookup.op.data.features}}
          {{~#if (eq this "std") ~}},
  "{{opLookup.op.data.name}}/std"  
          {{~/if}}
        {{/each}}
      {{/if}}
    {{/each}}
  {{/each}}
{{/each}}
]
debug_assertions = [
  "std",
  "console_error_panic_hook",
]


[dependencies.an_operation_support]
default-features = false
git = "https://gitlab.com/anagolay/an_operation_support.git"

{{! Produce dependencies. From operationLookup, iterate on every Operation to set its enabled features (we just need "anagolay" and sometimes "std" to build a Workflow.
 Look into Operation Version to find the "Git" artifact type IPFS CID. The code available over IPFS will be provided as git dependency for the compilation.
)}}
{{~#each operations as |operation|~}}
  {{~#each @root.manifestData.segments as |segment segmentIndex| ~}}
    {{~#each (lookup @root.operationsLookup segmentIndex) as |opLookup| ~}}
      {{~#if (eq opLookup.id operation.id)}} 
[dependencies.{{opLookup.op.data.name}}]
default-features = false
features = [ 
  "anagolay"
        {{~#if (and (contains opLookup.op.data.features "std") @root.std)~}}, 
  "std"
        {{~/if}}
        {{#each opLookup.op.data.config}}
          {{~#if (contains opLookup.op.data.features (concat "config_" @key)) ~}},
  "{{concat "config_" @key "_" (lookup opLookup.opVerRef.config @key)}}"
          {{~/if}}
        {{/each}}
        {{#each opLookup.op.data.features}}
          {{~#if (and (ne this "std") (ne true (startsWith this "config_"))) ~}},
  "{{this}}"  
          {{~/if}}
        {{/each}}
]
        {{#each opLookup.ver.data.artifacts}}
          {{~#with this.artifactType~}}
            {{~#if (eq this "Git") ~}}
 git = "https://ipfs.anagolay.network/ipfs/{{../ipfsCid}}"
            {{/if}}
          {{/with}}
        {{/each}}
      {{/if}}
    {{/each}}
  {{/each}}

{{/each}}

[dependencies.cassette]
default-features = false
version = "0.2.3"

[dependencies.console_error_panic_hook]
version = "0.1.7" 
optional = true

[dependencies.wasm-bindgen]
version = "0.2.80"
optional = true 

[dependencies.wasm-bindgen-futures]
version = "0.4.30"
optional = true

[dependencies.serde] 
version = "1.0.130"
features = ["derive"]
optional = true

[dependencies.instant] 
version = "0.1"
optional = true

[dependencies.async-trait]
version = "0.1.53"
optional = true

{{! Patch each Operation repository. This allow a dependent Operation to refer during development (in its own Cargo.toml) to the dependence as the git repository,
but resolves the problem of having different versions of the same crate (IPFS and git) at Workflow build time. }}
{{~#each operations as |operation|~}}
  {{~#each @root.manifestData.segments as |segment segmentIndex|~}}
    {{~#each (lookup @root.operationsLookup segmentIndex) ~}}
      {{#if (eq this.id operation.id)}} 
[patch.'{{this.op.data.repository}}'] 
{{this.op.data.name}} = { 
        {{~#each this.ver.data.artifacts}}
          {{~#with this.artifactType~}}
            {{~#if (eq this "Git") }} git = "https://ipfs.anagolay.network/ipfs/{{../ipfsCid}}" {{/if~}}
          {{~/with~}}
        {{~/each~}} }
      {{/if}}
    {{/each}}
  {{/each}}
  
{{/each}}
